# Dependencias
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Sistema operativo
.DS_Store
Thumbs.db

# IDE y editores
.idea/
.vscode/
*.swp
*.swo
.env
.env.*

# Archivos de construcción
dist/
build/
coverage/

# Control de versiones
.git
.gitignore

# Logs
logs
*.log

# Archivos temporales
tmp/
temp/

# Archivos de Docker
Dockerfile
docker-compose.yml
.docker

# Archivos de testing
__tests__
test
tests
*.test.js
*.spec.js

# Documentación
docs/
README.md 